@media screen and (max-width: 1000px){

  body {
    background: url("../images/bg-mobile.svg") top no-repeat var(--Violet);
    background-size: cover;
  }

  .section-banner, footer {
    flex-direction: column;
    text-align: center;
  }

  button {
    padding: 10px 80px;
  }

  .footer-social {
    position: relative;
    right: 30px;
    height: 100px;
  }

  
}

@media screen and (max-width:780px){

  .banner {
    width: 90%;
    margin: 0 auto;
  }

  .titulo {
    font-size: 30px;
  }

}


@media screen and (max-width:480px){

  .header-logo {
    width: 50%;
  }

  .texto{
    font-size: 13px;
  }

  .botao{
    font-size: 10px;
  }
}