:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%)
}

body {
font-family: "Poppins";
background: url("../images/bg-desktop.svg");
background-size: 95%;
background-repeat: no-repeat;
background-color: var(--Violet);
}


/* Seçao do Cabeçalho */

.header {
  margin: 20px;
} 

.header-logo {
  margin: 5px;
  padding: 20px;
  width: 270px;
  transform: scale(0.9);
} 


/* Seção de Principal */

main {
max-width: 1200px;
margin: 25px 15px;

/* background-color: red;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); */
}

.section-banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  color: #ffffff;
  transform: scale(0.9);
}

.descricao {
  padding: 0 20px;
  margin: 0 auto;
}

.titulo {
  font-weight: 600;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 2rem;
}

.texto {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 1rem;
}

button {
  background-color: #ffffff;
  color: var(--Violet);
  font-size: 18px;
  margin-top: 20px;
  padding: 12px 50px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease; 
}

button:hover {
  background-color: var(--Soft-Magenta);
  transform: scale(1.03);
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

/* Rodapé */

.footer {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 30px;
  font-size: 15px;
  transform: scale(0.9);
} 

.footer-social i {
  color: #ffffff;
  padding: 10px;
  border: 1.5px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-social-icon i:hover{
  border-color: var(--Soft-Magenta);
  color: var(--Soft-Magenta);
} 









